body{
    font-family: Verdana, Tahoma, sans-serif;
    padding: 100px; 
    
}

h1 {
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 40px;
    text-align: center;
    color: rgb(255, 129, 150);
    
}

.titulo {
    padding: 100px;
}


p {
    font-size: 13pt;
    font-weight: lighter;
}

a {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

ul {
    list-style-type: none;
}